<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mes listes</title>
</head>
    <body>
    <header th:replace="header/header::header"></header>
        <div class="container">
            <h2 class="welcome">Mes listes</h2>
            <div th:each="list, stats : ${lists}">
                <div th:text="${list.title}"></div>
                <div th:text="${list.movies.size()} + ' film(s) ajouté(s) dans cette liste'"></div>
                <form th:action="@{/delete_list}" method="post">
                    <input type="hidden" class="form-control" id="listId" name="listId" th:value="${list.idList}"/>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </form>
            </div>
            <br>
            <a sec:authorize="isAuthenticated()" th:href="@{/new_list}">Creer une nouvelle liste</a>
        </div>
    </body>
</html>
