<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer une liste</title>
</head>
<body>
<header th:replace="header/header::header"></header>
    <div class="container">
    	<h2 class="welcome">Creez votre liste !</h2>
        <form th:action="@{/create_list}" method="post">
            <fieldset>

                <div class="form-group">
                    <label for="listTitle">Nom de la liste</label>
                    <input type="text" class="form-control" id="listTitle" name="listTitle" placeholder="Nom de liste" required="required" autofocus="autofocus" />
                </div>

				<button type="submit" class="btn btn-default">Créer</button>
            </fieldset>
        </form>
    </div>
</body>
</html>
