<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="header/header::header"></header>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h2>Inscrivez-vous</h2>
            <p th:if="${registrationError}" class="error">Le nom d'utilisateur existe déjà</p>
        </div>

        <form  th:action="@{/inscription}" method="post">
            <input type="text" id="lastName" class="fadeIn second" name="lastName" placeholder="Nom" required="required" />
            <input type="text" class="fadeIn second" id="firstName" name="firstName" placeholder="Prenom" required="required" />
            <input type="text" class="fadeIn second" id="userName" name="userName" placeholder="Nom d'utilisateur" required="required" />
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe" required="required">
            <input type="submit" class="fadeIn fourth" value="Je m'inscris">
        </form>
    </div>
</div>
</body>
</html>