<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Page d'accueil</title>
	</head>
	<body>
	<script type="application/javascript" src="../js/jquery.min.js" th:scr="@{/js/jquery.min.js}"></script>
	<link rel="stylesheet" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<header th:replace="header/header::header">	</header>
		<div class="welcome">
			<h1>Bienvenue sur watcher !!!</h1>
			<p>Cherchez un film et ajoutez-le dans votre watchlist</p>
		</div>
		
		<div class="search-container">
		    <form th:action="@{/search}" th:object="${params}" method="get">
					<div class="wrapper">
					<div class="search_box" style="margin-top: 60px;">
						<div class="search_field">
							<i class="fas fa-search" aria-hidden="true"></i>
							<input type="text" class="input" name="params" placeholder="Chercher un film..">
							<table class="table table-hover">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nom</th>
										<th scope="col">Résumer du film</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="movie: ${movies}">
										<th scope="row"  th:text="${movie.position}"></th>
										<th th:text="${movie.original_title}" />
										<th th:text="${movie.overview}" />
										<th>
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal"><i class="fas fa-plus"></i> </button>
										</th>


									</tr>
								</tbody>
							</table>
					  </div>
					</div>

				</div>
			</form>
  		</div>

	<!-- Modal -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	</body>

</html>