<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Page d'accueil</title>
	</head>
	<body>
	<header th:replace="header/header::header"></header>
		<div class="welcome">
			<h1>Bienvenue sur watcher !!!</h1>
			<p>Cherchez un film et ajoutez-le dans votre watchlist</p>
		</div>
		
		<div class="search-container">
		    <form th:action="@{/search}" th:object="${params}" method="get">

		      <button type="submit"><i class="fa fa-search"></i></button>
				<div class="dropdown">
					<button onclick="myFunction()" class="dropbtn">Dropdown</button>
					<div id="myDropdown" class="dropdown-content">
						<input type="text" placeholder="Chercher un film.." name="params">
						<tr th:each="movie: ${movies}">
							<td th:text="${movie.original_title}" />
							<td th:text="${movie.overview}" />
						</tr>
					</div>
				</div>
			</form>
  		</div>
	</body>
</html>