<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Page d'accueil</title>
		<!--<base href="/" />-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}"/>
		<link href="../static/js/bootstrap.min.js" rel="stylesheet" th:href="@{/js/bootstrap.min.js}"/>
		<link href="../static/css/accueil.css" rel="stylesheet" th:href="@{/css/accueil.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<script src="../static/js/dropdown.js" th:src="@{/js/dropdown.js}"></script>
	</head>
	<body>
		<div class="topnav" id="myTopnav">
		  <a class="active" href="/"><i class="fa fa-fw fa-home"></i></a>
		  <a sec:authorize="isAuthenticated()" href="/user"><i class="fa fa-fw fa-user"></i>Mon compte</a>
		  <a sec:authorize="isAnonymous()" href="/inscription">Inscription</a>
		  <a sec:authorize="isAuthenticated()" href="/connexion">Connexion</a>
		  <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Déconnexion</a>
		  <a href="#about">à propos</a>
		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
		    <i class="fa fa-bars"></i>
		  </a>
		</div>
		<div class="welcome">
			<h1>Bienvenue sur watcher!!!</h1>
			<p>Cherchez un film et ajoutez-le dans votre watchlist</p>
		</div>
		
		<div class="search-container">
		    <form th:action="@{/search}" th:object="${params}" method="get">

		      <!-- <button type="submit"><i class="fa fa-search"></i></button>
				<div class="dropdown">
					<button onclick="myFunction()" class="dropbtn">Dropdown</button>
					<div id="myDropdown" class="dropdown-content">
						<input type="text" placeholder="Chercher un film.." name="params">
						<tr th:each="movie: ${movies}">
							<td th:text="${movie.original_title}" />
							<td th:text="${movie.overview}" />
						</tr>
					</div>
				</div> -->

					<div class="wrapper">
					<div class="search_box" style="margin-top: 60px;">
						<div class="search_field">
							<i class="fas fa-search" aria-hidden="true"></i>
							<input type="text" class="input" name="params" placeholder="Chercher un film..">
							<table class="table table-hover">
								<thead class="thead-light">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nom</th>
										<th scope="col">Résumer du film</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="movie: ${movies}">
										<th scope="row"  th:text="${movie.position}"></th>
										<th th:text="${movie.original_title}" />
										<th th:text="${movie.overview}" />
										<th>
											<button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> </button>
										</th>


									</tr>
								</tbody>
							</table>
					  </div>
					</div>
				</div>
			</form>
  		</div>
	</body>
</html>